* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}
.page {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color-main);
}
// body {
//   overflow-x: hidden;
// }

.container {
  width: 100%;
  // max-width: 1240px;
  margin: 0 auto;
  padding: 0 3rem;
}
// @media (max-width: 1200px) {
//   .container {
//     padding: 0 20rem !important;
//   }
// }

// @media (max-width: 992px) {
//   .container {
//     padding: 0 15rem !important;
//   }
// }

// @media (max-width: 768px) {
//   .container {
//     padding: 0 10rem !important;
//   }
// }

// @media (max-width: 576px) {
//   .container {
//     padding: 0 5rem !important;
//   }
// }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.app-button {
  width: 263px;
  height: 75px;
  border-radius: 100px;
  background-color: var(--btn-header-color);
  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--bg-color-main);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--btn-header-color-hovered);
  }

  &:focus {
    outline: none;
    border-color: var(--btn-header-color);
    box-shadow: 0 0 0 0.195em rgba(62, 142, 208, 0.65);
  }
}

@media (max-width: 1300px) {
  .app-button {
    width: 256px;
    height: 70px;
    font-size: 1.7rem;
  }
}

@media (max-width: 1100px) {
  .app-button {
    width: 245px;
    height: 65px;
    font-size: 1.6rem;
  }
}

@media (max-width: 430px) {
  .app-button {
    width: 225px;
    height: 60px;
    font-size: 1.4rem;
  }
}

.bold {
  font-weight: 700;
}

.section-title {
  font-family: var(--font-secondary);
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  color: var(--btn-header-color);
  padding-top: 130px;
  // margin-top: -60px;
}

@media (max-width: 1300px) {
  .section-title {
    padding-top: 100px;
  }
}

@media (max-width: 992px) {
  .section-title {
    padding-top: 80px;
    font-size: 4.6rem;
  }
}

@media (max-width: 576px) {
  .section-title {
    padding-top: 60px;
    font-size: 4.3rem;
  }
}
