* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    // max-width: 1240px;
    margin: 0 auto;
    padding: 0 3rem;
}

html {
	font-size: 62.5%;
}

.button {
  width: 263px;
  height: 75px;
  border-radius: 100px;
  background-color: var(--btn-header-color);
  font-family: var(--font-primary);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--bg-color-main);
  border: none;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.section-title {
  font-family: var(--font-secondary);
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  color: var(--btn-header-color);
}

@media (max-width:992px) {
  .section-title {
    font-size: 4.6rem;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 4.3rem;
  }
  }
