:root {
    --bg-color-main: rgba(255, 255, 255, 1);
    --bg-color-secondary: rgba(229, 240, 244, 0.88);
    --bg-color-pricing: rgba(249, 249, 249, 1);
    --btn-header-color: rgba(25, 69, 87, 1);
    --text-color-main: rgba(1, 22, 30, 1);
    --border-color: #E5F0F4;
    --user-name-font-color: #3696BE;
    --warning-message-color: rgb(211, 42, 42);
    --input-border-color: #D1D5DB;
    --bg-color-nav: rgba(229, 240, 244, 1);

    --font-primary: 'Plus Jakarta Sans', sans-serif;
    --font-secondary: 'Kanit', sans-serif;
}