:root {
  --bg-color-main: rgba(255, 255, 255, 1);
  --bg-color-secondary: rgba(229, 240, 244, 0.88);
  --bg-color-pricing: rgba(249, 249, 249, 1);
  --btn-header-color: rgba(25, 69, 87, 1);
  --btn-header-color-hovered: rgba(15, 41, 52, 1);
  --text-color-main: rgba(1, 22, 30, 1);
  --border-color: #e5f0f4;
  --user-name-font-color: #3696be;
  --warning-message-color: rgb(211, 42, 42);
  --success: rgb(10, 146, 40);
  --input-border-color: #d1d5db;
  --bg-color-nav: rgba(229, 240, 244, 1);
  --nav-hovered: rgba(76, 167, 207, 0.728);
  --cookies-popup-btn-hovered: rgba(145, 203, 225, 0.88);

  --font-primary: 'Plus Jakarta Sans', sans-serif;
  --font-secondary: 'Kanit', sans-serif;
}
