.contact-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 144px 0;
    background-color: var(--border-color);
    overflow: hidden;

    &__bottom {
        margin-top: 24px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__legend {
        font-family: var(--font-primary);
        font-size: 1.4rem;
        line-height: 150%;
        opacity: .4;
    }

    &__robot-pic {
        position: absolute;
        left: 55px;
        bottom: -77px;
    }

    &__robot-shadow {
        position: absolute;
        bottom: 0;
        right: 119px;
        width: 63%;
    }
}

.contact-form {
    padding: 48px;
    margin-top: 72px;
    width: 784px;
    border-radius: 8px;
    background-color: var(--bg-color-main);
    z-index: 1;
}

.contact-message {
    min-height: 120px;
    max-height: 142px;
    width: 100%;
    resize: vertical;
}

fieldset {
display: flex;
flex-direction: column;
min-width: 100%;
}

input,
select,
textarea {
    margin-bottom: 24px;
    padding: 13px 17px;
    font-family: var(--font-primary);
    font-size: 1.8rem;
    line-height: 150%;
    opacity: 0.5;
    border-radius: 6px;
    border: 1px solid var(--input-border-color);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
  }

#data-processing-checkbox {
    margin: 0;
}

.privacy-policy {
    margin-bottom: 24px;

    &__message {
        margin-left: 16px;
        font-family: var(--font-primary);
        font-size: 1.4rem;
        line-height: 150%; 
    }
}

.warning-message {
    align-self: flex-end;
    font-family: var(--font-primary);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--warning-message-color);
}


@media (max-width:1200px) {
    .contact-section {
        &__robot-pic {
            left: -42px;
            bottom: 252px;
            opacity: .5;
            width: 100%;
        }

        &__heading {
            z-index: 1;
        }
    }
}


@media (max-width: 992px) {
    .contact-form {
        width: 80%;
    }


input,
select,
textarea {
    font-size: 1.7rem;
}


.privacy-policy {
    &__message {
        font-size: 1.3rem;
    }
}

.contact-section {
    &__legend {
        font-size: 1.3rem;
    }
}

}

@media (max-width: 600px) {
    .contact-section {
        &__bottom {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__legend {
            align-self: flex-end;
        }
    }
}

@media (max-width: 768px) {

input,
select,
textarea {
    font-size: 1.6rem;
}


.privacy-policy {
    &__message {
        font-size: 1.2rem;
    }
}

.contact-section {
    &__legend {
        font-size: 1.2rem;
    }
}

}

@media (max-width: 576px) {
input,
select,
textarea {
    font-size: 1.5rem;
}


.privacy-policy {
    &__message {
        font-size: 1.1rem;
    }
}

.contact-section {
    &__legend {
        font-size: 1.1rem;
    }
}

}

@media (max-width: 470px) {

input,
select,
textarea {
    font-size: 1.1rem;
}


.privacy-policy {
    &__message {
        font-size: 1rem;
    }
}

.contact-section {
    &__legend {
        font-size: 1rem;
    }
}

}

@media (max-width: 480px) {
    .contact-form {
     padding: 35px;
    }
     
 }


@media (max-width: 400px) {

    .contact-form {
        padding: 30px;
       }

    input,
    select,
    textarea {
        font-size: .9rem;
    }
    
    
    .privacy-policy {
        &__message {
            font-size: .8rem;
        }
    }
    
    .contact-section {
        &__legend {
            font-size: .8rem;
        }
    }

    .warning-message {
        font-size: 1rem;
    }
    
    }


