.header-section {
    position: relative;

    &__bg-blob-light {
        // width: 80%;
        position: absolute;
        left: 385px;
        top: 0;
        z-index: -1;
        overflow: hidden;
    }
}


.top {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    &__logo {
        width: 231.628px;
        height: 80px;
    }
}

.nav {
    align-self: center;
    &__list {
        display: flex;
        gap: 50px;
    }
    &__list-link {
        font-family: var(--font-primary);
        font-size: 2rem ;
        color: var(--btn-header-color);
        text-decoration: none;
    }
}

.bottom {
    position: relative;
    display: flex;
    margin: 169px 0 0 256px;
}

.bottom-left-upper {
    &__heading {
        margin-bottom: 8px;
        font-family: var(--font-secondary);
        font-weight: 500;
        font-size: 8.8rem;
        color: var(--btn-header-color);
    }
    &__paragraph {
        width: 60%;
        font-family: var(--font-primary);
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 180%;
        color: var(--text-color-main);
    }
}

.bottom-left-lower {
    display: flex;
    margin: 56px 0;
    gap: 32px;

    &__description {
        padding: 32px;
        width: 264px;
        height: auto;
        border: 1px solid var(--border-color);
    }

    &__paragraph {
        margin-top: 32px;
        font-family: var(--font-primary);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}

.bottom-right {
    &__picture {
        position: absolute;
    }
}

.bottom-right-pictures {
    &__bg-blob {
        top: -60px;
        right: -30px;
        z-index: -2;
    }
    &__car {
        top: 128px;
        right: -30px;
    }
    &__robot {
        top: -143px;
        right: -25px;
        // width: 45.5%;
    }
}

@media (max-width: 1700px) {
    .bottom-right-pictures {
        &__bg-blob {
            top: -60px;
            right: -30px;
            z-index: -2;
            width: 50%;
        }
        &__car {
            top: 128px;
            right: -30px;
            width: 54%;
        }
        &__robot {
            top: -70px;
            width: 700px;
        }
    }
}


@media (max-width: 1600px) {
    .header-section {
        &__bg-blob-light {
            left: 257px;
            width: 67%;
        }
    }
    .top {
        &__logo {
            width: 215.628px;
            height: 70px; 
        }
    }

    .nav {
        &__list-link {
            font-size: 1.8rem;
        }
    }

    .bottom-left-upper {
        &__heading {
            font-size: 8.2rem;
        }

        &__paragraph {
            font-size: 2.3rem;
        }
    }

    .bottom-left-lower {
        margin: 40px 0;
        gap: 30px;

        &__description {
            width: 240px;
        }

        &__icon {
            width: 35%;
        }

        &__paragraph {
            font-size: 1.6rem;
        }
    }

    .bottom-right-pictures {
        &__bg-blob {
            top: -60px;
            right: -30px;
            z-index: -2;
            width: 50%;
        }
        &__car {
            top: 128px;
            right: -30px;
            width: 54%;
        }
        &__robot {
            top: -90px;
            right: -30px;
            width: 650px;
        }
    }
}

@media (max-width: 1400px) {
    .top {
        &__logo {
            width: 200.628px;
            height: 65px;
        }
    }

    .nav {
        &__list {
            gap: 47px;
        }

    }

    .bottom {
        margin: 169px 0 0 205px;
    }

    .bottom-left-upper {
        &__heading {
            font-size: 7.8rem;
        }

        &__paragraph {
            font-size: 2rem;
        }
    }

    .bottom-left-lower {
        &__icon {
            width: 30%;
        }
    }

    .bottom-right-pictures {
    
        &__robot {
            top: -114px;
            right: -30px;
            width: 650px;
        }
    }
}

@media (max-width: 1300px) {
    .bottom {
        margin: 169px 0 0 116px;
    }
    .bottom-right-pictures {
        &__bg-blob {
            // top: 116px;
            //  width: 45%;
            top: 0;//druga wersja- mniej wolnego miejsca u gory
            width: 50%;
        }
        &__car {
            top: 220px;
            width: 50%;
        }
        &__robot {
            top: 70px;
            width: 500px;
        }
    }

    .bottom-left {
        &__find-more-btn {
            width: 256px;
            height: 70px;
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 1100px) {
    .top {
        &__logo {
            width: 190.628px;
            height: 62px;
        }
    }

    .nav {
        &__list {
            gap: 40px;
        }

        &__list-link {
            font-size: 1.7rem;
        }
    }

    .bottom {
        margin: 163px 0 0 116px;
    }

    .bottom-left-upper {
        &__heading {
            font-size: 7.5rem;
        }

        &__paragraph {
            font-size: 1.9rem;
        }
    }

    .bottom-left-lower {
        &__description {
            width: 220px;
            padding: 24px;
        }

        &__icon {
            width: 28%;
        }

        &__paragraph {
            font-size: 1.5rem;
        }
    }

    .bottom-left {
        &__find-more-btn {
            width: 245px;
            height: 65px;
            font-size: 1.6rem;
        }
    }

    .bottom-right-pictures {
        // &__robot {
        //     top: 30px;
        //     width: 500px;
        // }

        // &__bg-blob {
        //     // top: 116px;
        //     //  width: 45%;
        //     top: 0;//druga wersja- mniej wolnego miejsca u gory
        //     width: 40%;
        // }
        &__car {
            top: 220px;
            width: 50%;
        }
         &__robot {
            top: 70px;
            width: 468px;
        }
    }
}


@media (max-width: 992px) {
    .bottom {
        margin: 163px 0 0 85px;
    } 

    .bottom-left-upper {
        &__paragraph {
            // width: unset;
        }
    }
    .bottom-right-pictures {
        // &__robot {
        //     top: 30px;
        //     width: 500px;
        // }

        &__bg-blob {
            // top: 116px;
            //  width: 45%;
          
            width: 60%;
        }

        &__car {
            top: 350px;
        }
        // &__car {
        //    display: none;
        // }
        &__robot {
            top: 195px;
            width: 369px;
           
        }
    }
}

@media (max-width: 827px) {
    .nav {
        display: none;
    }
    .header-section {
        &__bg-blob-light {
            left: 157px;
            width: 82%;
        }
    }
    .bottom-right-pictures {
        &__robot {
             width: 315px;
            top: 297px;
        }

        &__car {
            display: none;
         }
    }
}

@media (max-width: 768px) {
    .header-section {
        
        &__bg-blob-light {
            left: 140px;
            width: 75%;
        }
    }
    .bottom-right-pictures {
        &__robot {
          display: none;
        }
}
}

@media (max-width: 690px) {
    .header-section {
        overflow: hidden;
        &__bg-blob-light {
            left: 44px;
            width: 171%;
            top: 180px;
        }
    }

    .top {
        &__logo {
            width: 170.628px;
            height: 56px;
        }
    }

    .bottom {
        margin: 140px 0;
    }

    .bottom-left {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__find-mote-btn {
            align-self: center;
        }
    }

    .bottom-left-upper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            font-size: 6.3rem;
        }

        &__paragraph {
            text-align: center;
            width: unset;
            font-size: 1.8rem;
        }
    }

    .bottom-left-lower {
        flex-direction: column;
        
        &__description {
            width: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .bottom-right-pictures {
        &__bg-blob {
            display: none;
        }
    }


}

@media (max-width: 576px) {
    .bottom-left-upper {

        &__heading {
            font-size: 5.8rem;
            text-align: center;
        }

        &__paragraph {
            text-align: center;
            width: unset;
            font-size: 1.6rem;
        }
    }

}

@media (max-width: 430px) {
    .top {
        &__logo {
            width: 103.628px;
            height: 34px;
        }
    }
    .bottom-left-upper {
    &__heading {
        font-size: 4.4rem;
        
    }

    &__paragraph {
        font-size: 1.2rem;
    }
}

.bottom-left-lower {
    flex-direction: column;
    
    &__description {
        padding: 18px;
        width: 250px;
    }

    &__icon {
        width: 20%;
    }

    &__paragraph {
        font-size: 1.2rem;
    }
}

.bottom-left {
    &__find-more-btn {
        width: 225px;
    height: 60px;
    font-size: 1.4rem;
    }
}
}